<div class="w-nav navbar" data-collapse="all" data-animation="default" data-duration="400" data-contain="1">
      <div class="w-nav-button navbarbutton">
            <div class="buttontext">
            <a class="w-nav-link" href="/queue">Q</a>
            </div>
      </div>
    
      <div class="w-nav-button navbarbutton">
        <div class="buttontext">
            <a class="w-nav-link" href="/addQ">
          <span class="glyphicon glyphicon-plus">
          </span>
          </a>
        </div>
      </div>
<!--
      <div class="w-nav-button navbarbutton">
        <div class="buttontext">
          <a class="w-nav-link" href="/people">
          <span class="glyphicon glyphicon-user">
          </span>
          </a>
        </div>
      </div>
    -->

      <div class="w-nav-button navbarbutton">
        <div class="buttontext">
           <a class="w-nav-link" href="/pickSession"> 
          <span class="glyphicon glyphicon-calendar">
          </span>
          </a>
        </div>
      </div>

      <div class="w-nav-button navbarbutton">
        <div class="buttontext">
           <a class="w-nav-link" href="/pickClass">
          <span class="glyphicon glyphicon-list">
          </span>
          </a>
        </div>
      </div>
    
  </div>