<div class="w-nav navbar" data-collapse="all" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-nav-button navbarbutton">
      <div class="buttontext"><a class="w-nav-link" href="/queue">Q</a></div>
    </div>
    
      <div class="w-nav-button navbarbutton">
        <div class="buttontext"><a class="w-nav-link" href="/addQ">+</a></div>
      </div>
      <div class="w-nav-button navbarbutton">
        <div class="buttontext"><a class="w-nav-link" href="/people">ppl</a></div>
      </div>
      <div class="w-nav-button navbarbutton">
        <div class="buttontext"><a class="w-nav-link" href="/pickSession">cal</a></div>
      </div>
      <div class="w-nav-button navbarbutton">
        <div class="buttontext"><a class="w-nav-link" href="/pickClass">H</a></div>
      </div>
    
  </div>