<body>
<div class="w-form">
<form name="email-form" data-name="Email Form">
<h1>Add Office Hours</h1>
</form>
<div class="w-form-done">
<p>Thank you! Your submission has been received!</p>
</div>
<div class="w-form-fail">
<p>Oops! Something went wrong while submitting the form :(</p>
</div>
</div>
<div class="w-form">
<form name="email-form" data-name="Email Form">
<label class="label">&nbsp; &nbsp;Time</label>
<label class="label" for="email">&nbsp; &nbsp;Location</label>
<input class="w-input" type="email" placeholder="Where are your office hours?" name="email" data-name="Email" required="required"></input>
<input class="w-button" type="submit" value="Submit" data-wait="Please wait..."></input>
<input class="w-button" type="submit" value="Bitches" data-wait="Please wait..."></input>
</form>
<div class="w-form-done">
<p>Thank you! Your submission has been received!</p>
</div>
<div class="w-form-fail">
<p>Oops! Something went wrong while submitting the form :(</p>
</div>
</div>
</body>
