<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Feb 14 2014 01:16:53 GMT+0000 (UTC) -->
<html data-wf-site="52f9c7e1129e615e14000848">
<head>
  <meta charset="utf-8">
  <title>createClass</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/officehours.css">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/officehours.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Droid Sans:400,700","Open Sans:300,400,600,700,800"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
  <div class="w-form">
    <form name="email-form" data-name="Email Form">
      <h1>Add an Office Hours Session</h1>
    </form>
    
  </div>
  <div class="w-form">
    <form name="email-form" data-name="Email Form" action="/createOH" method="get">
      <label for="start">&nbsp; What Day are your Office Hours?</label>
      <input class="w-input" type="text" placeholder="Day of the week" name="day" data-name="Day" required="required"></input>
      <label for="start">&nbsp; Start Time</label>
      <input class="w-input" type="text" placeholder="When do your office hours start?" name="start" data-name="Start" required="required"></input>
      <label for="end">&nbsp; End Time</label>
      <input class="w-input" type="text" placeholder="When do your office hours end?" name="end" data-name="End" required="required"></input>
      <label for="place">&nbsp; Location</label>
      <input class="w-input" type="place" placeholder="Where are your office hours?" name="place" data-name="Place" required="required"></input>
      <input class="w-button" type="submit" value="Submit" data-wait="Please wait..."></input>
    </form>
    
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  {{>tNavBar}}
</body>
</html>
