<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Tue Feb 11 2014 07:27:37 GMT+0000 (UTC) -->
<html data-wf-site="52f9c7e1129e615e14000848">
<head>
  <meta charset="utf-8">
  <title>createClass</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/createclass.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Droid Sans:400,700","Open Sans:300,400,600,700,800"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <!--[if IE 8]><script>document.documentElement.className += ' w-ie8';</script><![endif]-->
</head>
<body>
  <h1>Create a Class</h1>
  <div class="w-form">
    <form name="email-form" data-name="Email Form">
      <label class="label" for="name">&nbsp; Class Number</label>
      <input class="w-input" type="text" placeholder="Enter the official title of the class" name="name" data-name="Name"></input>
      <label class="label" for="email">&nbsp; Class Name &nbsp;</label>
      <input class="w-input" type="email" placeholder="Enter the name of the class" name="email" data-name="Email" required="required"></input>
    </form>
    <div class="w-form-done">
      <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
      <p>Oops! Something went wrong while submitting the form :(</p>
    </div>
  </div>
  <div class="w-form">
    <form name="email-form" data-name="Email Form">
      <label class="label" for="name">&nbsp; &nbsp;Professor&nbsp;</label>
      <input class="w-input textfield" type="text" placeholder="Who teaches this class?" name="name" data-name="Name"></input>
      <input class="w-button createclassbutton" type="submit" value="Create Class" data-wait="Creating class..." wait="Creating class..."></input>
    </form>
    <div class="w-form-done">
      <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
      <p>Oops! Something went wrong while submitting the form :(</p>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
</body>
</html>
