<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Thu Feb 06 2014 03:33:11 GMT+0000 (UTC) -->
<html data-wf-site="52f1f607e46dc3cb1b000443">
<head>
  <meta charset="utf-8">
  <title>OH: pick a class</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
 <!-- <link rel="stylesheet" type="text/css" href="css/oh-pick-a-class.webflow.css"> -->
   <link rel="stylesheet" type="text/css" href="css/officehours.css">

  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>

<body>
<div class="headersection">
    <h1>FAQueue</h1> 
</div>

<p><small>Welcome to the FAQueue page! Here are some commonly asked questions: </small></p><br>

<p><b>What do the colors on the office hours schedule correspond to?</b><p>
<p>Orange means that office hours have already occured, yellow means that they are in progress, and green means that they are upcoming.</p>
<br>

<p><b>Does this site always reflect the most updated office hours schedule?</b><p>
<p>Yes it does! TAs are in charge of adding and updating their own office hours, and our site always shows you the most recent version of the schedule that we have. If you think that the posted schedule might be wrong, please contact your TA.</p>
<br>

<p><b>How do you ensure that the classes on your page are legitimate?</b><p>
<p>We require a valid Stanford professor email address in order to add a class to our page.</p>
<br>

<p><b>Can professors, TAs, and other students see the questions that I post?</b><p>
<p>Yes, the question number and short description that you provide will be available to anybody associated with the class. It may also be used to generate anonymous analytic data about which topics were covered in office hours.</p>
<br>

<p><small>For any other questions or feedback, please feel free to contact us at <i>da-Q@gmail.com</i>.
  </small></p>

 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <script type="text/javascript" src="js/pickClass.js"></script>

</body>
</html>