<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Thu Feb 06 2014 03:33:11 GMT+0000 (UTC) -->
<html data-wf-site="52f1f607e46dc3cb1b000443">
<head>
  <meta charset="utf-8">
  <title>OH: pick a class</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
 <!-- <link rel="stylesheet" type="text/css" href="css/oh-pick-a-class.webflow.css"> -->
   <link rel="stylesheet" type="text/css" href="css/officehours.css">

  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
   {{>faq}}
  <div class="headersection">
    <h1>Stanford University</h1> 
    <h4>Welcome</h4>
  </div>
  <h6>Check in to Office Hours for one of your classes:</h6>
  <div class="classlist" id="classList">
  <a class="classbutton button" href="pickSession/?class=cs161">CS161</a>
  <a class="button removeClass" href="#">x</a> <br>
  {{#each pickClassData}}
  {{#if myClasses}}
  {{#each myClasses}}
    <a class="classbutton button" href="pickSession/">{{name}}</a>
  <a class="button removeClass" href="#">x</a> <br>
  {{/each}}
  {{/if}}
  {{/each}}
  </div>
  <div class="">
    <!--<form name="email-form" data-name="Email Form">-->
      <label for="name"> <h6> Add a new class: </h6></label>
      <select class="w-select classselector" name="dropdown" id="classes">
       {{#each pickClassData}}
      {{#if classes}}
      {{#each classes}}
        <option value={{name}}>{{name}}</option>
        {{/each}}
        {{/if}}
        {{/each}}
      </select>
      <input class="submitbutton" id="submitPick" type="submit" value="Add my class!" ></input>
    <!--</form>-->
    
  </div><a class="button createaclass" href="/createClass">TA? Create a Class!</a>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <script type="text/javascript" src="js/pickClass.js"></script>

</body>
</html>
