<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Thu Feb 06 2014 03:33:11 GMT+0000 (UTC) -->
<html data-wf-site="52f1f607e46dc3cb1b000443">
<head>
  <meta charset="utf-8">
  <title>OH: pick a class</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
 <!-- <link rel="stylesheet" type="text/css" href="css/oh-pick-a-class.webflow.css"> -->
   <link rel="stylesheet" type="text/css" href="css/officehours.css">

  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body>
   {{>faq}}
  <div class="headersection">
    <h1>Stanford University</h1> 
    <h4>Welcome, {{email}}</h4>
  </div>
  <h6>Check in to Office Hours for one of your classes:</h6>
  <div class="classlist">
  <a class="classbutton button" href="pickSession/?class=cs161">CS161</a>
  <a class="button removeClass" href="#">x</a> <br>
  <a class="classbutton button" href="pickSession/?class=cs103">CS103</a>
  <a class="button removeClass" href="#">x</a><br>
  <a class="classbutton button" href="pickSession/?class=cs145">CS145</a>
  <a class="button removeClass" href="#">x</a>
  </div>
  <div class="">
    <form name="email-form" data-name="Email Form">
      <label for="name"> <h6> Add a new class: </h6></label>
      <select class="w-select classselector" name="dropdown">
        <option value="">Select one...</option>
        <option value="First">CS106A</option>
        <option value="Second">CS106B</option>
        <option value="Third">CS107</option>
      </select>
      <input class=" submitbutton" type="submit" value="Add my class!" data-wait="Please wait..."></input>
    </form>
    <div class="w-form-done">
      <p>Thank you! Your submission has been received!</p>
    </div>
    <div class="w-form-fail">
      <p>Oops! Something went wrong while submitting the form :(</p>
    </div>
  </div><a class="button createaclass" href="/createClass">TA? Create a Class!</a>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <script type="text/javascript" src="js/pickClass.js"></script>

</body>
</html>