<p> This is a temporary page. In the future, when you login the app will know if you are a student or TA. but for now choose one:
<a href="/pickClass">student</a><br>
<a href="/teacherQueue"> teacher</a>